<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208641194395-5sq7p2bitpkhhc46o9v68i2fkg4o6283.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208641194395-5sq7p2bitpkhhc46o9v68i2fkg4o6283</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>208641194395-h3n3pfpvtbejjtvd2tntt1lk7odjkp06.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFAJecv4a39DLOiBFjd54ocQL7J_htZzw</string>
	<key>GCM_SENDER_ID</key>
	<string>208641194395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vetjirani.app</string>
	<key>PROJECT_ID</key>
	<string>vetjirani-3da7c</string>
	<key>STORAGE_BUCKET</key>
	<string>vetjirani-3da7c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208641194395:ios:79e17ba8ca3000b63ec93e</string>
</dict>
</plist>